<mat-card class="m-2rem mat-elevation-z8" style="text-align: center; background-color: #0422D8; color: white;">
  <h3>CLIENTES</h3>
</mat-card>

<!-- <mat-card class="m-2rem mat-elevation-z8">
  

</mat-card> -->

<mat-card class="m-2rem mat-elevation-z8">
  <p-table #dt1 [value]="clients" dataKey="id" [rows]="10" [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[10,25,50]" styleClass="p-datatable-customers" [paginator]="true"
    currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros"
    [globalFilterFields]="['idx','documento','cliente','comprobante','estado','fecha','situacion']"
    responsiveLayout="scroll" [autoLayout]="true">
    <ng-template pTemplate="caption">
      <div style="display: flex;">
        <button (click)="export()" mat-flat-button class="color-electric mat-elevation-z8" aria-label="Eliminar">
          <mat-icon><span class="material-icons">article</span></mat-icon> &nbsp; Excel
        </button>
        <span class="example-spacer"></span>
        <button (click)="createClient()" mat-flat-button class="color-electric mat-elevation-z8" aria-label="Eliminar">
          <mat-icon><span class="material-icons">
              group_add
            </span></mat-icon>&nbsp; Agregar Cliente
        </button>
      </div>
      <div fxLayout="column" fxLayoutAlign="end end" style="margin-top: 1rem;">
        <div fxFlex="100">
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Búsqueda:</mat-label>
            <input (input)="dt1.filterGlobal($event.target!['value'], 'contains')" type="text" matInput>
            <mat-icon matSuffix>search</mat-icon>
          </mat-form-field>
        </div>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th *ngFor="let col of columns">
          {{col.header}}
        </th>
        <th>Opciones</th>
      </tr>
      <tr>
        <th *ngFor="let col of columns">
          <p-columnFilter [field]="col.field" [showMenu]="false">
            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
              <div fxLayout="row" fxFlexAlign="space-around">
                <input type="text" pInputText [ngModel]="value" (keyup)="filter($event.target!['value'])"
                  style="height: 20px; width: 80px;" />
              </div>
            </ng-template>
          </p-columnFilter>
        </th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-client>
      <tr>
        <td *ngFor="let col of columns">
          {{client[col.field]}}
        </td>
        <td class="example-button-container" fxLayout="row">
          <button (click)="showClient(client)" mat-mini-fab color="primary" aria-label="Eliminar"
            style="border-radius: 20%">
            <mat-icon>search</mat-icon>
          </button>
          <span>&nbsp;</span>
          <button mat-mini-fab (click)="editClient(client)" color="accent" aria-label="Editar"
            style="border-radius: 20%">
            <mat-icon>chat</mat-icon>
          </button>
          <span>&nbsp;</span>
          <button mat-mini-fab (click)="deleteClient(client.idx)" color="warn" aria-label="Eliminar"
            style="border-radius: 20%">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</mat-card>
