<mat-drawer-container fullscreen>
  <mat-drawer #drawer id="drawer" mode="side" color="primary">
    <span>
      <img class="logo-side" src="http://calidad.sigestsol.com/Content/images/logo-1.png" width="210px" alt="">
    </span>
    <mat-divider></mat-divider>
    <div class="box-button">
      <button mat-raised-button color="accent" class="w-100 m-1" (click)="showClients()">Clientes</button>
    </div>
    <div class="box-button" *ngIf="showOptionsClients">
      <div class="box-options-button">
        <button mat-raised-button color="blank" class="w-100" [routerLink]="['/clientes/ver-clientes']">Ver
          clientes</button>
      </div>
    </div>
    <div class="box-button">
      <button mat-raised-button color="accent" class="w-100 m-1">Opciones</button>
    </div>

  </mat-drawer>
  <mat-drawer-content>
    <mat-toolbar color="primary">
      <img *ngIf="showLogo" class="logo-sides" src="http://calidad.sigestsol.com/Content/images/logo-1.png"
        width="150px" alt="">
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon"
        (click)="drawer.toggle(); disableLogo()">
        <mat-icon>menu</mat-icon>
      </button>
      <span><small> CA PRINCIPAL </small></span>

      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon><span class="material-icons">
            account_circle
          </span></mat-icon>
      </button>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon><span class="material-icons">
            logout
          </span></mat-icon>
      </button>
    </mat-toolbar>
    <mat-divider></mat-divider>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
